@media only screen and (min-width: 576px) {
    /*
    HEADER
     */
    .big_header
    {
        display: flex;
    }
    .mobile_header
    {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    /*
    HEADER
     */
    .big_header
    {
        display: none;
    }
    .mobile_header
    {
        display: flex;
    }
}