@media only screen and (min-width: 576px) {
    /*
    HEADER
     */
    .big_header
    {
        display: flex;
    }
    .mobile_header
    {
        display: none;
    }
    .order_detail-container-shipping-info
    {
        max-width: 500px;
    }
    .order_details_back_container
    {
        max-width: 500px;
    }
}
@media only screen and (max-width: 576px) {
    /*
    HEADER
     */
    .big_header
    {
        display: none;
    }
    .mobile_header
    {
        display: flex;
    }
    .order_detail-container-shipping-info
    {
        max-width: 400px;
    }
    .order_details_back_container
    {
        max-width: 400px;
    }
}