.admin_h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.admin_h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

/*
DASHBOARD
 */
.dashboard_row
{
    height: 90px;
    box-shadow: 2px 0 7px gray;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
}
.dashboard_row_1line
{
    justify-content: space-evenly;
}
.admin_product_container
{
    border-radius: 15px;
    border: solid
    5px
    white;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    background-color: white;
}
.admin_product_container-product_name
{
    font-family: "Cascadia Code", sans-serif;
    font-size: 20px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #bfbfbf;
}
.admin_product_container-price
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.admin_product_container-stock
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.admin_product_container_amount
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.admin_product_container-edit a
{
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 7px 25px;
    margin: 3px 0;
    color: black;
    background-color: white;
    transition: 0.1s;
}
.admin_product_container-edit:hover
{
    transform: scale(110%);
}
.admin_product_container-edit a:hover
{
    color: black;
    box-shadow: 0 0 10px black;
}
.admin_product_container_remove
{
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 100%;
    font-weight: bolder;
    background-color: rgba(255,0,0,0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    transition: 0.1s;
}
.admin_product_container_remove:hover
{
    transform:
            rotate(180deg)
            scale(110%);
    box-shadow: 0 0 10px black;
}
.admin_product_remove
{
    color: white;
}
.admin_product_remove:hover
{
    color: white;
}
.edited
{
    background-color: #e1e1e1;
}

/*
ADD PRODUCT
 */
.add_product-container {
    max-width: 600px;
}

.add_product-container input
{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.add_product-container select
{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.admin_add_or_cancel_container
{
    margin-bottom: 20px;
}
.admin_add_or_cancel_container input
{
    width: auto;
    margin-bottom: 0;
}
.admin_add_or_cancel_container a
{
    height: 40px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    padding: 5px 10px;
    margin-right: 15px;
    transition: 0.1s;

}
.admin_add_or_cancel_container a:hover
{
    transform: scale(105%);
}

.edit_product-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 400px;

}
.edit_product-container input
{
    height: 40px;
    border-radius: 50px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 5px 10px;
}
.edit_product-container-item_box input
{
    width: 100%;
}
.edit_product-container select
{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 5px 10px;
}

.edit_product-container-item_box {
    margin-bottom: 15px;
    color: gray;
}

/*
ORDERS
 */

.orders-container-order {
    padding: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    transition: 0.1s;
}
.orders-container-order:hover
{
    box-shadow: 0 0 10px black;
    transform:
            translateY(5px)
            scale(105%);
}

.orders-container-order p {
    margin-bottom: 10px;
}

.orders-container-order p:last-child {
    margin-bottom: 0;
}

.orders-container-order-details_container {
    color: black;
    display: flex;
    justify-content: start;
}

.orders-container-order-details_container-text {
    width:50px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.orders-container-order-details_container-data {
    font-size: 20px;
}

.orders-container-order-status {
    display: flex;
    align-items: center;
}

.order_detail-container-shipping-info {
    display: block;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.order_detail-container-shipping-info select
{
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    margin-top: 5px;
    margin-bottom: 20px;
    transition: 0.1s;
}
.order_detail-container-shipping-info select:active
{
    box-shadow: 0 0 10px black;
}

.order_detail-container-shipping-info-section {
    margin-bottom: 20px;
}

.order_details_back_container
{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.order_details_back:hover
{
    transform: scale(105%);
}