/*
HEADER
 */
.header_container
{
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
    margin: 0 0 100px 0;
    padding: 30px 0;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    z-index: 1;
    transition: top 0.3s;
}
.header_container a
{
    color: black;
    background-color: white;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0 0 9px black;
    transition: 0.1s;
}
.header_container a:hover
{
    transform:
            scale(110%)
            translateY(5px);
    box-shadow: 0 0 15px black;
}

.icon_cart
{
}

/*
NEW ARRIVALS / SEASONALS
*/
.sliding-container 
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sliding-arrow-left
{
  order: 0;
  background-color:red;
  width:100px;
  height:40px;
  .hidden {
    display: none;
  }
}
.sliding-arrow-right
{
  order: 2;
  background-color:red;
  width:100px;
  height:40px;
  .hidden {
    display: none;
  }
}
.sliding-items-container 
{
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow: hidden;
}
.sliding-product
{
  flex-basis: 31%;
}

/*
FILTER SEARCH
 */
.home_filter-container
{
    border-radius: 25px;
    border: 5px
            solid
            white;
    background-color: white;
    background-attachment: fixed;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.filter_product
{
    border-width: 0;
    padding: 10px 15px;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    transition: 0.1s;
    margin: 10px;
}
.filter_product_name
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0;
}
.filter_product_category
{
    margin: 10px 0;
}
.filter_product_order
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 0;

}
.filter_button
{
    border-radius: 25px;
}
.filter_button:hover
{
    box-shadow: 0 0 10px black;
}

/*
PRODUCTS
 */
a
{
    text-decoration: none;
}

.product_container
{
    border-radius: 15px;
    border: solid
            5px
            white;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    margin-bottom: 25px;
    transition: 0.1s;
    background-color: white;
}
.product_container:hover
{
    transform: scale(105%);
    box-shadow: 0 0 15px black;
}

.product_container-image
{
    height: 40%;
}
.product_container-image img
{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-container-information
{
    padding: 30px;
}

.product_container-model_name
{
    height: 100px;
    font-family: "Cascadia Code", sans-serif;
    font-size: 25px;
    color: black;
}

.product_container-category
{
    border-style: none none solid none;
    border-width: 2px;
    height: 20px;
    font-family: "Rockwell", sans-serif;
    font-size: 15px;
    color: gray;
}

.product_container-price
{
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}

/*
BACKGROUND DESIGN
 */
.background-disk
{
    position: absolute;
    background-attachment: fixed;
    border-radius: 50%;
    z-index: -2;
}
.background-inner-disk
{
    position: absolute;
    border:
            solid
            white;
    border-radius: 50%;
    z-index: -1;
}

/*
PRODUCT DETAIL
 */
.product_detail-container-item img
{
    width: 100%;
    border-radius: 15px;
}
.product_detail-container-item-name
{
    font-family: "Cascadia Code", sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}
.product_detail-container-item-category
{
    border-style: none none solid none;
    border-width: 2px;
    font-family: "Rockwell", sans-serif;
    font-size: 20px;
    color: gray;
}
.product_detail-container-item-price
{
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    margin-bottom: 150px;
}
.product_detail-container-item-stock
{
    font-family: "Rockwell", sans-serif;
    font-size: 15px;
    color: gray;
    margin-bottom: 0;
}

.product_detail-add_to_cart
{
    margin-right: 10px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 10px;
}

.product_detail-container
{
    margin-bottom: 50px;
}

/*
CART
 */
.cart_product_container
{
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    margin-bottom: 25px;
}
.cart_product_img
{
    height: 100px;
    padding: 0;
}
.cart_product_img img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.cart_product_name_price
{
    margin-left: 10px;
}
.cart_product_name
{
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: bolder;
    font-size: 20px;
}
.cart_product_price
{
    font-size: 15px;
}
.cart_product_info
{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 10px;
}
.cart_product_info p
{
    margin-right: 5px;
}
.cart_product_remove
{
    transition: 0.1s;
}
.cart_product_remove
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-weight: bolder;
    background-color: rgba(255,0,0,0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    margin-left: 10px;
    margin-right: 20px;
}
.cart_product_remove a
{
    color: white;
    font-family: Cascadia, sans-serif;
}
.cart_product_remove:hover
{
    transform:
            scale(110%)
            rotate(180deg);
}
.cart_no_products p
{
    color: gray;
    font-size: 20px;
    padding: 0;
    margin-right: 10px;
}
.cart_no_products a
{
    font-size: 20px;
    padding: 0;
}
.checkout_button
{
    font-size: 20px;
    text-shadow: 0 0 5px black;
    margin: 25px 0;
}
.checkout_button:hover
{
    color: white;
}
.cart_total_price
{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
}
.cart_total_price p
{
    font-size: 25px;
    margin-right: 5px;
}
.checkout_container
{
    height: 150px;
}
/*
ADMIN
 */

/*
DASHBOARD
 */
.dashboard_row
{
    height: 90px;
    box-shadow: 2px 0 7px gray;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
}
.dashboard_row_1line
{
    justify-content: space-evenly;
}
.admin_product_container-product_name
{
    font-family: "Cascadia Code", sans-serif;
    font-size: 20px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #bfbfbf;
}
.admin_product_container-category
{
    font-family: "Rockwell", sans-serif;
    font-weight: bolder;
}
.admin_product_container-price
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.admin_product_container-stock
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.admin_product_container-edit a
{
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    padding: 7px 25px;
    margin: 3px 0;
    color: black;
    background-color: white;
    transition: 0.1s;
}
.admin_product_container-edit:hover
{
    transform: scale(110%);
}
.admin_product_container-edit a:hover
{
    color: black;
    box-shadow: 0 0 10px black;
}
.admin_product_container_remove
{
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 100%;
    font-weight: bolder;
    background-color: rgba(255,0,0,0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    transition: 0.1s;
}
.admin_product_container_remove:hover
{
    transform:
            rotate(180deg)
            scale(110%);
    box-shadow: 0 0 10px black;
}
.admin_product_remove
{
    color: white;
}
.admin_product_remove:hover
{
    color: white;
}
.edited
{
    background-color: #e1e1e1;
}
p
{
    margin: 0;
}
.full-width
{
    width: 100%;
}
.footer
{
    margin-top: 100px;
}

.button_with_background
{
    border-width: 0;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background: fixed;
    transition: 0.1s;
}
.button_with_background:hover
{
    box-shadow: 0 0 9px black;
    transform: scale(105%);
}
