@media only screen and (min-width: 576px) {
    .big_screen_display
    {
        display: flex;
    }
    .small_screen_display
    {
        display: none;
    }

    /*
    HEADER
     */
    .big_header
    {
        display: flex;
    }
    .mobile_header
    {
        display: none;
    }
}
@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {
    .product_detail-container-item-price
    {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .filter_button
    {
        width: 125px;
    }
    .big_screen_info
    {
        font-size: 0;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
    /*
    HEADER
     */
    .big_header
    {
        display: none;
    }
    .mobile_header
    {
        display: flex;
    }

    /*
    FILTER
     */
    .filter_product_name
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_product_category
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_product_order
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_button
    {
        width: 47%;
        margin: 10px 0;
    }
    .filter_button_search
    {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .filter_button_clear
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /*
    CART
     */
    .big_screen_display
    {
        display: none;
    }
    .small_screen_display
    {
        display: flex;
    }
    .cart_product_img
    {
        padding-top: 12px;
        height: auto;
    }
    .cart_product_img img
    {
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
    .cart_product_info
    {
        margin: 15px;
    }
    .cart_product_remove
    {
        margin: 0 0 10px 0;
    }
    /*
    THANK YOU
     */
    .thankyou_disk_container
    {
        width: 300px;
        height: 300px;
    }
    .thankyou-container p
    {
        font-size: 15px;
    }
    .thankyou-container a
    {
        font-size: 15px;
    }
    /*
    SUCCESSFUL REGISTER
     */
    .successful_register_disk_container
    {
        width: 300px;
        height: 300px;
    }
    .successful_register
    {
        font-size: 15px;
    }
    .successful_register_container a
    {
        font-size: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .product_detail-add_to_cart
    {
        border-radius: 25px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .filter_button
    {
        width: 60%;
        border-radius: 25px;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 1200px) {
  .sliding-product
  {
    flex-basis: 47%;
  }
}

@media only screen and (max-width: 770px) {
  .sliding-product
  {
    flex-basis: 95%;
  }
}
