@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
.filter_button
{
    width: 125px;
}
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
    .filter_product_name
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_product_category
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_product_order
    {
        width: 100%;
        border-radius: 25px;
        margin: 10px 0;
    }
    .filter_button
    {
        width: 47%;
        margin: 10px 0;
    }
    .filter_button_search
    {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .filter_button_clear
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media only screen and (max-width: 320px) {
    .filter_button
    {
        width: 60%;
        border-radius: 25px;
        margin: 10px 0;
    }
}
